<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="header-container">
        <h2>IConnect</h2>
    </div>
    <main>
        <div class="translate-container">
          <h3>Result</h3>
          <!-- result text box -->
          <div class="text-box result">
            <p>Excuse me, Where can I find the nearest subway station?</p>
          </div>
          <h3>Input</h3>
          <!-- input Text Box -->
          <div class="text-box input">

            <p>Xin lỗi, tôi có thể tìm ga tàu điện ngầm gần nhất ở đâu?</p>
          </div>
        </div>

        <!-- Microphone Button -->
        <div class="mic-button-container">
            <button type="button" class="mic-button">
                <img src="{{ url_for('static', filename='image/microphone.png') }}" alt="Microphone Button" class="mic-icon">
            </button>
        </div>
    </main>
</body>
</html>
